@import 'base';

$colorList: (
  ("available", $colorAvailable),
  ("barrier", $colorBarrier),
  ("path", $colorPath),
  ("pipette", $colorPipette),
  ("component", $colorComponent)
);

.Matrix {
  .Grid {
    stroke: $colorGrid;
  }

  .Cell {
    @each $colorMap in $colorList {
      $state: nth($colorMap, 1);
      $color: nth($colorMap, 2);

      &.#{$state} {
        fill: $color;
      }
    }
  }
}
